html{
    width:100% !important;
}
body{
    width:100% !important;
}
.nav{
    height:200px !important;width: 100% !important;background-color: aliceblue !important;
}

.sidenav{
 background-color: aliceblue !important; min-width: fit-content !important;
}
.alignend{
    display: flex;align-items: flex-end;justify-content: flex-end;flex-direction: row;padding-right:40px;
}
.nav ol{
    list-style-type: none; float: left;
}

