html{
    width:100% !important;
}
body{
    width:100% !important;
}
.nav{
    min-height:190px;height:auto !important;width: 100% !important;background-color: aliceblue !important;
}

.sidenav{
 background-color: aliceblue !important; min-width: fit-content !important;
}
.pholder{
    height:350px !important;min-width:300px !important;background-color: #f0f0f0 !important; box-shadow: aliceblue; margin: 15px 20px auto;max-width:23% !important;/* margin-top: 10px !important;margin-bottom: 10px !important;*/
}
hr{
    margin:0px !important; width: 100% !important;
}
.centerpos{
    text-align: center;border: 2px solid red !important;border-radius: 50%;width:160px;height:160px;background-image: url("logo.png");background-repeat: none;background-size:cover; margin: 0px auto;
}
.min-width{
    min-width: fit-content !important;
}
.alignend{
    display: flex;align-items: center;justify-content: flex-end;flex-direction: row;padding-right:40px;width:100% !important;}
.nav ol{
    list-style-type: none; float: left;
}
.nav ol li{
    float: left !important;display: flex !important;flex-direction: row !important;margin: 0px 10px !important 
}
.nameholder{
    height:40px;width:80%;background-color: transparent; cursor: pointer; line-height: 40px; padding-left:10px;
}

input[type="text"]{height:40px;width:80%;border-radius:25px;outline: none; padding-left: 10px;}
.orderCard{
   min-height:400px !important;max-width:800px !important;margin: 0px auto; margin-top:10px;
}
.orderCard p{
    padding-left: 20px !important;
}
.ccontent{
    text-align: center !important;background-color: aliceblue !important;min-height:60px !important;
}
select{
    width:70%;height:40px;
}
.submit{
    float:right;margin-right: 20px;margin-bottom: 20px ;cursor:pointer;
}
#cart{
    background-color: red !important;color:white !important;border-radius:60% !important ;
}
.checkout{
    height:700px !important;max-width: 900px !important;display:none; border:2px solid black !important;z-index: 10 !important;overflow-y: auto !important;min-width: fit-content !important;min-height: fit-content !important; margin: 0px auto !important;position:absolute;
}
.orderholder{
    width:100% !important;height:100px !important;background-color: #ffdead !important;
}
.orderRemove{
    height:30px !important;width:40px !important
}
.cbody{
    overflow-y: auto !important;padding:5px !important;
}

.sum{
    height:150px !important;display: flex;align-items: flex-start !important;justify-content: space-between;flex-direction: column !important;font-weight: bold;
}
table{
    width:100%; text-align: right;
}